<div>
  <div class="flex space-x-2">
    <%= heroicon('home', variant: :outline,
                       options: { class: 'hover:text-indigo-700 hover:cursor-pointer h-10' }) %>

    <h1 class="font-bold text-4xl">Home#index</h1>
  </div>
  
  <p>Find me in app/views/home/index.html.erb</p>
  
</div>
