<div class="flex mx-5 my-3">
  <div class="flex ml-auto space-x-2">

    <% if user_signed_in? %>
      <%= link_to credit_cards_path do %>
        <%= render 'icons/wallet', classes: 'h-7 w-7' %>
      <% end %>
    <% end %>

    <%= link_to 'Sign in', new_user_session_path, class: 'ml-auto' unless user_signed_in? %>
    <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'ml-auto' if user_signed_in? %>
  </div>
</div>